<div class="row mt-4">
    <div class="col">
        {{ form_start(formplaylist) }}
        {{ form_row(formplaylist.name) }}
        {{ form_row(formplaylist.description, {'attr': {'class': 'form-control', 'style': 'height: 250px;'}}) }}
        {{ form_end(formplaylist) }}
    </div>
</div>